<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h1>Dodaj nowy adres e-mail do osoby {{ person.name }} {{ person.surname }}</h1>
    <form method="post">
        <label>Podaj adres e-mail:
            <input type="email" name="mail">
        </label><br>
        <label>Wybierz kategorię:
            <select name="mail_type">
                <option value="1">mail prywatny</option>
                <option value="2">mail służbowy</option>
                <option value="3">inny</option>
            </select>
        </label><br>
        <button type="submit">Dodaj</button>
        {% csrf_token %}
    </form>
</body>
</html>